WHATSAPP_VERIFY_TOKEN=meu_token_super_secreto
WHATSAPP_API_TOKEN=seu_token_da_cloud_api_aqui
WHATSAPP_PHONE_NUMBER_ID=seu_id_de_telefone_aqui

# Configurações do Agente/Transcrição
TRANSCRIBER_PROVIDER=mock
OPENAI_API_KEY=sua_api_key_aqui
GEMINI_API_KEY=sua_api_key_do_google_aqui
LLM_PROVIDER=gemini
LLM_MODEL=gemini-2.0-flash
AGNO_DB_URL=libsql://agenteteq-durand.aws-us-east-1.turso.io
AGNO_DB_AUTH_TOKEN=seu_token_do_turso_aqui
